body {
  padding: 0;
  margin: 0px;
}

.nav {
  background-color: lightGrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background-color: lightGrey;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spacer {
  background-color: lightsteelblue;
  height: 50px;
  width: 100%;
}

.frContentSpacer {
  width: 100%;
  height: 100px;
}

.findResContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.findResContainer .findResSearch {
  background-color: lightblue;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.findResContainer .findResSearch .frSearchField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.findResContainer .findResContentGrid {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  height: auto;
  min-height: 150px;
  padding: 25px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: lightgreen;
  display: -ms-grid;
  display: grid;
  grid-gap: 25px;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.findResContainer .findResContentItem {
  width: 100%;
  height: auto;
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: Row;
          flex-direction: Row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.findResContainer .findResContentItem .frImage {
  background-color: peachpuff;
  background-size: cover;
  width: 250px;
  height: 250px;
}

.findResContainer .findResContentItem .frText {
  background-color: lightseagreen;
  padding: 25px;
}

.findResContainer .findResContentItem .frSummary {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.findResContainer .findResContentItem .frBtn {
  text-align: center;
}
/*# sourceMappingURL=rd.css.map */