//--------- RESET CSS ----------
* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    letter-spacing: 1.25px;
}
body, div, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

/*--- Fonts ---*/
$designFont: 'PT Sans Narrow', sans-serif;

/*--- Colours ---*/
$red: #e24747;
$green: #49d649;
$pink: #fd8878;
$blue: #4e8eb5;
$black: #333;
$gray: #999;

/*--- Transition ---*/
$t_05: all .5s ease;
$t_1: all 1s ease;

/*--- Common ---*/
// Colour
.red {color: $red};
.gray {color: $gray};
.blue {color: $blue};

// Position
section {
    margin: 6rem 0;
}

// Button
.btn_blue, .btn_pink, .btn_green {
    display: inline-block;
    a {
        padding: 1rem 2rem;
        color: white;
        display: block;
        width: 100%;
        height: 100%;
    }
}
.btn_blue {
    background: $blue;
    border: 2px solid $blue;
    &:hover {
        background: rgba(255, 255, 255, 0.8);
        transition: $t_05;
        a {
            color: $blue;
        }
    }
}
.btn_pink {
    background: $pink;
    border: 2px solid $pink;
    &:hover {
        background: rgba(255, 255, 255, 0.8);
        transition: $t_05;
        a {
            color: $pink;
        }
    }
}
.btn_green {
    background: $green;
    border: 2px solid $green;
    &:hover {
        background: rgba(255, 255, 255, 0.8);
        transition: $t_05;
        a {
            color: $green;
        }
    }
}


// =======================================
//
// Header Navigation
//
// =======================================


header {
    position: fixed;
    width: 100%;
    top: 0;
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.2));
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    z-index: 999;
    .hInner {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            margin: 1rem 0;
            img {
                width: 160px;
            }
        }
        nav {
            width: 50%;
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    padding: 1rem 0;
                    a {
                        font-family: $designFont;
                        font-size: 110%;
                        color: unset;
                        &:hover {
                            color: $pink;
                            transition: $t_05;
                            &::after {
                                content: " ";
                                display: block;
                                width: 100%;
                                height: 0.1rem;
                                background-color: $pink;
                                margin: -0.05rem 0 0 0;
                                position: relative;
                                animation-name: nav_b;
                                animation-duration: 1s;
                                transition: $t_1;
                                display: block;
                            }
                            @keyframes nav_b {
                                0% {width: 0%;}
                            }
                        }
                    } 
                    .btn_s, .btn_l {
                        font-family: $designFont;
                        padding: .5rem 1.5rem;
                    }
                    .btn_s {
                        background: $pink;
                        color: white;
                        border: 2px solid $pink;
                        margin: 0 1rem 0 0;
                        &:hover {
                            background: $blue;
                            border: 2px solid $blue;
                            transition: $t_05;
                        }
                    }
                    .btn_l {
                        color: $pink;
                        border: 2px solid $pink;
                        &:hover {
                            background: $pink;
                            color: white;
                            transition: $t_05;
                        }
                    }
                }
                .btn_nev {
                    a {
                        &:hover{
                            &::after {
                                display: none;
                                width: 0;
                            }
                        }
                    }
                }  
            }
        }
    }
}


// =======================================
//
// Home
//
// =======================================

/*--- Header ---*/
.home_top {
    background: url(../img/home_top_bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: inline-block;
    h1 {
        width: 50%;
        color: $pink;
        position: absolute;
        top: 40%;
        transform: translateY(-40%);
        background: rgba(255, 255, 255, 0.8);
        padding: 2rem 4rem;
        text-align: center;
    }
    .home_top_links {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .home_top_rest, .home_top_love, .home_top_join {
            width: 33.5%;
            text-align: center;
            color: white;
            font-weight: 700;
            a {
                width: 100%;
                height: 100%;
                color: unset;
                padding: 2rem 0;
                display: block;
            }
        }
        .home_top_rest {
            background-color: $blue;
            border: 2px solid $blue;
            &:hover {
                background: rgba(255, 255, 255, 0.8);
                color: $blue;
                transition: $t_05;
            }
        }
        .home_top_love {
            background-color: $pink;
            border: 2px solid $pink;
            &:hover {
                background: rgba(255, 255, 255, 0.8);
                color: $pink;
                transition: $t_05;
            }
        }
        .home_top_join {
            background-color: $green;
            border: 2px solid $green;
            &:hover {
                background: rgba(255, 255, 255, 0.8);
                color: $green;
                transition: $t_05;
            }
        }
    }
}

/*--- Services List ---*/
.home_sList {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .home_sList_block {
        width: 50%;
        text-align: center;
        margin: 3rem 0;
        padding: 0 3rem;
    }
}

/*--- User Join ---*/
.home_joinNow {
    background-color: $pink;
    color: white;
    width: 100%;
    height: 100vh;
    .home_joinNow_bg {
        background: url(../img/home_concept_2.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        width: 50%;    
        height: 100vh;
        position: absolute;
        .home_joinNow_bg_cover {
            background-color: rgba(255,255,255,0.5);
            width: 100%;
            height: 100%;
        }
    }
    .home_joinNow_contents {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        padding: 6rem 0;
        .home_joinNow_img {
            background: url(../img/home_concept_1.jpg) no-repeat;
            background-position: center;
            background-size: cover;
            width: 62%;
            height: auto;
        }
        .home_joinNow_text {
            width: 48%;
            padding: 3rem 1rem 3rem 3rem;
            h2 {
                &::after {
                    content: " ";
                    display: block;
                    width: 12rem;
                    margin-left: -6rem;
                    height: 0.3rem;
                    background-color: white;
                    margin-top: 1rem;
                }
            }
            .home_joinNow_text_block {
                margin: 3rem 0;
            }
            .btn_w_p {
                background-color: white;
                display: inline-block;
                border: 2px solid $pink;
                &:hover {
                    background-color: $pink;
                    border: 2px solid white;
                    transition: $t_05;
                    a {
                        color: white;
                    }
                }
                a {
                    display: block;
                    padding: 1rem 2rem;
                    color: $pink;
                    width: 100%;
                    height: 100%;
                }
            }
        }        
    }
}

/*--- Restaurant Join ---*/
.home_restJoin {
    display: flex;
    .home_restJoin_text {
        padding: 3rem 6rem;
        width: 50%;
        h2 {
            &::after {
                content: " ";
                display: block;
                width: 6rem;
                height: 0.3rem;
                background-color: $green;
                margin-top: 1rem;
            }
        }
        .home_restJoin_text_block {
            margin: 3rem 0;
        }
        .btn_black {
            background-color: $green;
            display: inline-block;
            border: 2px solid $green;
            &:hover {
                background-color: rgba(255,255,255,0.8);
                transition: $t_05;
                a {
                    color: $green;
                }
            }
            a {
                display: block;
                padding: 1rem 2rem;
                color: white;
                width: 100%;
                height: 100%;
            }
        }
    }
    .home_restJoin_img {
        background: url(../img/home_restaurants.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        width: 50%;
    }
}

/*--- Search ---*/
.home_search {
    display: block;
    padding: 6rem 0;
    background: $blue;
    text-align: center;
    color: white;
    .home_search_box {
        background: white;
        max-width: 640px;
        height: 64px;
        margin: 3rem auto;
        border-radius: .5rem;
        display: flex;
        input {
            padding: .5rem 1rem;
            border: none;
            border-radius: .5rem;
        }
        .home_search_text {
            width: 100%;
            height: 100%;
        }
        button {
            height: 64px;
            width: 64px;
            border: none;
            background: unset;
        }
    }
}

/*--- Separation ---*/
.home_sepr {
    background: url(../img/home_bottom.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;
    margin-top: -6rem;
}


// =======================================
//
// Footer
//
// =======================================

footer {
    margin: 6rem 0;
    .footer_inner {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        img {
            width: 160px;
        }
        ul {
            li {
                margin: 0 0 1.25rem 0;
                a {
                    color: unset;
                    &:hover {
                        color: $pink;
                        transition: $t_05;
                    }
                }
            }
        }
    }
}

// =======================================
//
// About Page
//
// =======================================

.about_top {
    background: url(../img/about_top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    
    .about_box {
        background-color: rgba(255, 255, 255, 0.5);
        width: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        padding: 2rem;
        h2 {
            &::after {
                content: " ";
                background-color: #333;
                height: 0.25rem;
                width: 10rem;
                display: block;
                margin-left: -4rem;
                margin-top: 1rem;
            }
                   
        }
    }

    .iDontExist{
        background-color: blue;
    }
}

          
             


/* ================================= */
/* ================================= */
/* ================================= */



$basicBkgColor: lightGrey;

body{
    padding: 0;
    margin: 0px; //fixes edging around whole site page
}

@mixin flexBasic($direction){   //functions are called mixin
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;;
}


.nav{
    background-color:$basicBkgColor;
    @include flexBasic(column);
}


// footer{
//     background-color:$basicBkgColor;
//     height:200px;
//     @include flexBasic(column)
// }

.spacer{
    background-color: lightsteelblue;
    height:50px;
    width:100%;
}

.frContentSpacer{  
    // findRestraunt spacer
    // added if content item is only 1 
    // stops the bottom of the website being
    // smaller than the height of the screen
    width:100%;
    height:100px;
}



// ----------------------------------------
// findRestraunt
// -----------------------------------------

.findResContainer{
    display: flex;
    flex-direction: row;

    .findResSearch{
        background-color: lightblue;
        width: 20%; //side column
        display:flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        padding-top: 50px;
        padding-left: 25px;
        padding-right: 25px;
        .frSearchField{
            display:flex;
            flex-direction: row;
        }
    }

    .findResContentGrid{

        justify-self: center;
        align-self: center;
        width: 80%; //content column
        height: auto;
        min-height: 150px;
        padding: 25px;
        padding-left: 100px;
        padding-right: 100px;
        background-color:lightgreen;
        display:grid;
        grid-gap: 25px;
        grid-template-columns: 100%; //Note dont use commas
        grid-template-rows: auto;
        
    }

    .findResContentItem{
        //this allows item to follow parent grid
        width:100%;
        //height however is determined by item
        height: auto;
        background-color: lightgrey;
        display:flex;
        flex-direction: Row;
        justify-content: center;

        .frImage{

            background-color: peachpuff;
            //background image set in html by js (on doc item load)
            background-size: cover;
            width: 250px; 
        }

        .frText{
            background-color: lightseagreen;
            padding: 25px;
        }

        .frSummary{
            max-width: 500px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical; 
        }

        .frBtn{
            text-align: center; //dosent do anything but removes empty warning
        }

    }

}





// ----------------------------------------
// restrauntDetail
// -----------------------------------------




//restraunt section
.rdTitleContainer{
    font-weight: bold;
    background-color: lightgray;
    padding-top: 120px;
    padding-bottom: 20px;
    text-align: center;
}


.restaurantDetailHero{
    width: 100%;
    //background-color: lightsteelblue;
    background-size: cover;
    height: 600px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .restaurantDetailTextContainer{
        padding-right: 20px;
        padding-left: 20px;
        background-color: white;
        max-height: 400px;
        max-width: 40%;
    }

}


//restraunt gallery section
.rdGalleryContentContainer{
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    background-color:  lightgray;
    
    
    .rdGalleryItemGrid{
        //background-color:peachpuff;
        justify-self: center;
        align-self: center;
        width: 100%;
        height: auto;
        min-height: 150px; //for row overall
        padding: 25px;
        padding-left: 100px;
        padding-right: 100px;
        display:grid;
        grid-gap: 25px;
        grid-template-columns: 25% 25% 25% 25%; 
        grid-template-rows: auto;
        
    }

    .rdGalleryItem{
        width:100%; //this allows item to follow parent grid
        height: 300px; //height however is determined by item (HERE)
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        background-color: white;
        background-repeat: no-repeat;
        // flex needed to center text if text is shown 
        // (loading in / no images found)
        display:flex;
        justify-content: center;
        align-items: center;


        .rdGalleryText{
            margin: 40px;
        }

    }
    
}



//add comment section
.rdAddCommentForm{
    text-align: center;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    
    .rdRadioBtnCont{
        display:flex;
        flex-direction: row;
        justify-content: center;

        .rdActiveRadioBtn{
            border-radius: 10px;
            border-color: red;
            border: solid 2px;
        }

        .rdYesRadioBtn{
            margin-right: 20px;
            padding: 5px;
        }
        .rdNoRadioBtn{
            margin-left: 20px;
            padding: 5px;
        }
    }

}



// existing user comments section
.rdCommentContentContainer{
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    background-color:  lightgray;
    
    
    .rdCommentItemGrid{
        //background-color:peachpuff;
        justify-self: center;
        align-self: center;
        width: 100%; //content column
        height: auto;
        min-height: 150px;
        padding: 25px;
        padding-left: 100px;
        padding-right: 100px;
        display:grid;
        grid-gap: 25px;
        grid-template-columns: 33% 33% 33%; //Note dont use commas
        grid-template-rows: auto;
        
    }

    .rdCommentItem{
        padding: 10px;
        //this allows item to follow parent grid
        width:100%;
        //height however is determined by item
        height: auto;
        min-height: 300px;
        background-color: white;
        display:flex;
        flex-direction: Column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        .rdCommentImg{

            //background-color: peachpuff;
            //background image set in html by js (on doc item load)
            background-size: cover;
            min-width: 100px;
            min-height:  100px;
            max-width: 250px;
            max-height: 250px;
            //width: 250px; 
            //height: 250px;
        }

        .rdCommentTitle{
            margin-left: 40px;
            margin-right: 40px;
        }

        .rdCommentText{
            // use bellow if you need to cut overflow from text 
            // comment section will adjust based on largets item per row

            max-width: 500px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical; 
        }
    }
    
    
}
